.chip {
  text-align: left;
  padding: 10px;
  height: 30px;
  width: 90%;
  max-width: 290px;
  border-radius: 10px;
  display: flex;
  filter: drop-shadow(0px 5px 2px #6b6b6b8f);
}

img {
  height: 30px;
  filter: drop-shadow(0px 2px 1px #5050508f);
}

.text {
  padding-top: 1px;
  padding-left: 5px;
  flex: 10;
  font-size: large;
  font-weight: bold;
  font-family: "Courgette", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  /* Required for text-overflow to do anything */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  filter: drop-shadow(0px 2px 1px #5050508f);
}

.active{
  background-image: linear-gradient(180deg, #ece5cb,#ccc6af,#aaa48c,#9e8f79,#755f45);
  color: #ece5cb;
}

.deactive{
 background-image: linear-gradient(180deg, #d6d6d6,#bbbbbb,#8f8f8f,#7a7a7a,#424242);
 color: #2b2b2b;
}
